ul li {
  text-decoration: none;
}

body {
  background-image: url("img/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header h2 {
  text-align: center;
  text-shadow: 2px 2px 8px #FFF;
  margin-top: 180px;
}
