/* TABLE OF CONTENTS
needs done */


/* WEBPAGE RESET
	 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*========================
	Authors CSS Begins Here

		 Hard Coded Tags
========================*/
* {
	text-decoration: none;
}

p {
	color: #111;
}

body {
	background-color: #f3f3f3;
}

main {
	padding-top: 81px;
}

/*==============
HEADER STYLING
==============*/
header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000; /*Need to check all Z-values and get them to a realistic scale*/
	background-color: #fff;
	width: 100%;
	height: 82px;
	background: rgba(255,255,255,0.9);
}

header .header-brand {
 	font-family: 'Catamaran', sans-serif;
 	color: #111;
 	font-size: 24px;
 	text-transform: uppercase;
 	font-weight: 900;
 	display: block;
 	margin: 0 auto;
 	text-align: center;
 	padding: 20px 0;
}

header nav ul {
 	margin: 0 auto;
 	display: block;
 	width: fit-content;
}

header nav ul li{
 	display: inline-block;
 	list-style: none;
 	padding: 0 10px;
}

header nav ul li a{
 	color: #111;
 	font-size: 14px;
 	font-weight: 800;
 	text-transform: uppercase;
}

/* SCALING FOR SMALL DEVICES */
@media only screen and (min-width: 1000px) {
	header .header-brand {
 		margin: 19px 0px;
 		text-align: left;
 		padding: 0px 20px 0px 40px;
 		border-right: 3px solid #111;
 		float: left;
 		line-height: 38px;
 		font-size: 20px;
  	}

  	header nav ul {
 		margin: 20px 0px 0px 20px;
 		float: left;
  	}

  	header nav ul li {
 		display: inline-block;

 		list-style: none;
 		padding: 0 10px;
  	}

  	header nav ul li a {
 		font-size: 14px;
 		line-height: 34px;
  	}

  	.header-list a::before,
  	.header-list a::after {
 		display: inline-block;
 		opacity: 0;
 		-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
 		-moz-transition: -moz-transform 0.3s, opacity 0.2s;
 		transition: transform 0.3s, opacity 0.2s;
  	}

  	.header-list a::before {
 		margin-right: 10px;
 		content: '[';
 		-webkit-transform: translateX(20px);
 		-moz-transform: translateX(20px);
 		transform: translateX(20px);
  	}

  	.header-list a::after {
 		margin-left: 10px;
 		content: ']';
 		-webkit-transform: translateX(-20px);
 		-moz-transform: translateX(-20px);
 		transform: translateX(-20px);
  	}

  	.header-list a:hover::before,
  	.header-list a:hover::after,
  	.header-list a:focus::before,
  	.header-list a:focus::after {
 		opacity: 1;
 		-webkit-transform: translateX(0px);
 		-moz-transform: translateX(0px);
 		transform: translateX(0px);
  	}
}

/*======================
Home Page / Main banner
======================*/
.index-banner{
 	width: 100%;
 	height: calc(100vh - 100px);
 	background-image: url(img/banner.jpg);
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover;
 	display: table;
}

.vertical-center {
 	display: table-cell;
 	vertical-align: middle;
	padding: 25px;
}

.index-banner h2 {
 	text-transform: uppercase;
 	font-family: 'Catamaran', sans-serif;
 	color: #fff;
 	font-size: 52px;
 	text-align: center;
 	text-shadow: 2px 2px 8px #111;
 	font-weight: 900;
 	line-height: 70px;
}

.index-banner h1 {
 	font-family: Cormorant Garamond;
 	color: #fff;
 	font-size: 20px;
 	text-align: center;
 	text-shadow: 2px 2px 8px #111;
 	font-weight: 100;
 	font-style: italic;
 	line-height: 40px;
 	padding-top: 30px;
}

/* SCALING FOR SMALL DEVICES */
@media only screen and (min-width: 1000px) {
	.wrapper {
		width: 1000px;
		margin: 0 auto;
  	}

	.index-banner {
 	  	height: 500px;
 	  	margin-top: 0px;
  	}

  .index-banner h1 {
 	  	display: block;
 		width: 540px;
 	  	margin: 0 auto;
  	}
}

/*======================
Home Page / Button Links
======================*/
.bottom-buttons {
	position: relative;
	width: 100%;
}

.bottom-main {
	position: relative;
	width: 581vh;
	height: calc(100vh - 581px);
	background-color: #f3f3f3;
	display: table-cell;
	align-items: center;
	vertical-align: middle;
}

.bottom-main ul {
	margin: 0 auto;
	display: block;
	width: fit-content;
}

.bottom-main ul li {
	display: inline-block;
	height: auto;
}

.bottom-main ul li a {
	height: auto;
	align-items: center;
	display: block;
	margin: 0px 50px 0px 50px;
	font-family: 'Catamaran', sans-serif;
}

/*Displaying buttons inline for media*/
@media only screen and (max-width: 1300px) {
	.bottom-main ul li {
		display: block;
	}

	.bottom-main ul li a {
		margin: 50px 50px 50px 50px;
	}
}

.button-1 {
	background-color: #F5F5F5;
	display: inline-table;
	padding: 0.75em 2em;
	height: auto;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #111;
	border: 2px solid #111;
	font-size: 28px;
	font-weight: bolder;
	border-radius: 0.6em;
	transition: all 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
}

.button-1:before {
	content: "";
	background-color: rgba(255, 255, 255, 0.5);
	height: 100%;
	width: 3em;
	display: inline-block;
	position: absolute;
	top: 0;
	left: -4.5em;
	transform: skewX(-45deg) translateX(0);
	transition: none;
}

.button-1:hover {
	background-color: #111;
	color: #fff;
	border-bottom: 4px solid #343434;
}

.button-1:hover:before {
	transform: skewX(-45deg) translateX(13.5em);
	transition: all 0.5s ease-in-out;
}

/*=================
ABOUT PAGE STYLING
=================*/
.main-content {
 	display: table-cell;
 	vertical-align: middle;
  	padding: 45px;
}

.main-content h3 {
 	text-transform: uppercase;
 	font-family: 'Catamaran', sans-serif;
 	color: #111;
 	font-size: 52px;
 	text-align: center;
 	font-weight: 100;
 	line-height: 70px;
  	padding-top: 115px;
}

#important-text {
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: -45px;
	font-size: 20px;
}

.about-text p {
 	font-family: Cormorant Garamond;
 	color: #111;
 	font-size: 20px;
 	text-align: center;
 	font-weight: 10;
 	font-style: italic;
 	line-height: 40px;
 	padding-top: 75px;
}

/*===================
PROJECTS PAGE STYLING
===================*/
.heading {
  	text-transform: uppercase;
  	font-size: 3.5rem;
  	letter-spacing: 3px;
  	margin-right: -3px;
  	margin-bottom: 5rem;
  	text-align: center;
  	color: #333;
  	position: relative;
	margin-top: 100px;
  	font-family: Catamaran;
  	font-size: 20px;
}

.heading::after {
  	content: "";
  	width: 12rem;
  	height: .65rem;
  	background-color: #333;
  	position: absolute;
  	bottom: -2rem;
  	left: 50%;
	transform: translateX(-50%);
  	border-radius: 2rem;
}

.card-wrapper {
  	display: flex;
  	align-items: center;
  	align-content: center;
  	flex-direction: column;
}

.card {
  	width: 24rem;
  	background-color: #ECCD4E;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	margin: 2rem 0;
  	box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
  	border-radius: 4%;
}

.card .card-img {
  	width: 100%;
  	height: 26rem;
  	object-fit: cover;
  	-webkit-clip-path: polygon(0 0, 100% 0, 100% 38%, 0 61%);
  	clip-path: polygon(0 0, 100% 0, 100% 38%, 0 61%);
  	border-radius: 4%;
}

.project-img {
  	width: 12rem;
  	height: 12rem;
  	object-fit: cover;
  	border-radius: 110%;
  	margin-top: -21rem;
  	z-index: 999;
  	border: 8px solid #ECCD4E;
}

.general-ideas-name {
  	margin-top: 20px;
  	margin-bottom: 20px;
  	color: #fff !important;
}

.card h1 {
  	font-size: 24px;
	font-family: 'Catamaran';
  	color: #333;
  	font-weight: bold;
}

.card h1 p {
  	font-family: 'Catamaran';
	font-weight: bold;
}

.date-complete {
  	color: #777;
  	font-size: 18px;
  	font-weight: 400;
  	font-style: italic;
}

#project-text {
  	font-size: 18px;
  	margin: 10px 30px;
  	font-family: Cormorant Garamond;
  	text-align: center;
  	color: #333;
	font-weight: 600;
}

.card .btn {
  	padding: 1rem 2.5rem;
  	background-color: #333;
  	border-radius: 2rem;
  	margin: 10 0;
  	text-transform: uppercase;
  	color: #eee;
  	font-size: 1rem;
  	transition: all .5s;
}

.card .btn:hover{
  	transform: translateY(-2px);
  	box-shadow: .5rem .5rem 2rem rgba(0,0,0.2)
}

.card .btn:active{
  	transform: translateY(-2px);
  	box-shadow: none;
}

/* SCALING FOR SMALL DEVICES */
@media screen and (min-width: 350px) {
  	.card-wrapper {
  		flex-direction: row;
  		flex-wrap: wrap;
  		justify-content: center;
  		align-items: center;
  	}

  	.card {
  		margin: 1.2rem;
  	}

  	@keyframes fadeIn {
  		from {
  			opacity: 0;
  		} to {
  			opacity: 1;
  		}
  	}

	.card:nth-child(1) {
		animation: fadeIn .5s .5s backwards;
	}

	.card:nth-child(2) {
		animation: fadeIn .5s 1s backwards;
	}

	.card:nth-child(3) {
		animation: fadeIn .5s 1.5s backwards;
	}

	.card:nth-child(4) {
		animation: fadeIn .5s 2s backwards;
	}

	.card:nth-child(5) {
		animation: fadeIn .5s 2.5s backwards;
	}

	.card:nth-child(6) {
		animation: fadeIn .5s 3s backwards;
	}

	.card:hover {
		transform: scale(1.1);
	}
}

@keyframes sheen {
	0% {
		transform: skewY(-45deg) translateX(0);
	} 100% {
		transform: skewY(-45deg) translateX(12.5em);
	}
}
